block nav
  .row
    .twelve.columns
      img(src="http://placekitten.com/1000/400", alt="Fancy Canvas or my Face")
  .row
    .twelve.columns
      ul.nav-bar
        li.active: a(href="#") Home
        li: a(href="#") Work
        li: a(href="#") Projects
        li: a(href="#") Clubs
