doctype 5

// if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
// if IE 7
  html.no-js.lt-ie9.lt-ie8(lang="en")
// if IE 8
  html.no-js.lt-ie9(lang="en")
// if gt IE 8
  html.no-js(lang="en")

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')

    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')

    script(src='/javascripts/foundation/modernizr.foundation.js')

    //IE Fix for HTML5 Tags
    // if lt IE 9
      script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    //- So anything that extends can add their own items into head
    block head
      script(src='/javascripts/app.js')

  body
    // Start Nav Bar 
    include includes/nav
    // End Nav Bar

    block content

    // Start Footer
    include includes/footer
    // End Footer
